pandas
numpy
matplotlib
seaborn
tqdm
gensim
sklearn
pickle
lxml
umap
tensorflow
plotly
pandarallel
mpl_toolkits
collections
rdkit
notebook
git+https://github.com/samoturk/mol2vec
conda create -n DeepPurpose python=3.6
conda activate DeepPurpose
conda install -c conda-forge rdkit
conda install -c conda-forge notebook
pip install git+https://github.com/bp-kelley/descriptastorus 
pip install DeepPurpose